<!DOCTYPE html>
<html lang="en" ng-app="myemployeeApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mohan's Company</title>
</head>

<body>
  <a ui-sref="Home()"> Home </a>

  <table>
    <tr>
        <td></td>
        <td ui-view="emp-header"></td>
    </tr>
    <tr>
        <td><a ui-sref="employee()">Employees</a></td>
        <td ui-view="emp-list"></td>
    </tr>
    <tr>
      <td></td>
      <td ui-view="emp-details"></td>
    </tr>

  </table>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.23/angular-ui-router.js"></script>
  <script type="text/javascript" src="/public/controller/app.js"> </script>

</body>

</html>
